html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/* 1rem = 10px*/
}
.titulo {/*Con esto apuntamos a una clase*/
    text-align: center;
    font-size: 3.8rem;
 }
#titulo span{ /*con esto apuntamos a un id - no se recomienda*/
    font-size: 2rem;
 }