:root{/*pseudoselectores - puiede almacenarse multiples tipos de valores*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario:#0097A7;
    --gris:#757575;

    --fuente-principal:3.8rem;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/* 1rem = 10px*/
}
.titulo {/*Con esto apuntamos a una clase*/
    text-align: center;
    font-size: var(--fuente-principal);
 }
.titulo span{
    font-size: 2rem;
 }